@using System
@using System.Linq
@using System.Web
@using VideoGameHash.Helpers;
@model VideoGameHash.Models.GameDetailsModel

@{
    ViewBag.Title = "GameDetails";

    var link = string.Format("http://thegamesdb.net/game/{0}/", Model.GamesDbNetId);
}

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<h2>&nbsp;</h2>


<div class="col-xs-12">
    <h3 class="toolbox toolbox_header">@Model.Game.GameTitle</h3>
    <div class="col-xs-8" style="border-left: 1px solid #DDD; min-height: 370px; padding-top: 10px">
        @if (Model.UsReleaseDate != DateTime.MinValue)
        {
            var releaseDate = String.Format("{0}/{1}/{2}", Model.UsReleaseDate.Month, Model.UsReleaseDate.Day, Model.UsReleaseDate.Year);
            <div>Release Date: @releaseDate</div>
        }

        @if (!String.IsNullOrEmpty(Model.Publisher))
        {
            <div>Publisher: @Model.Publisher</div>
        }

        @if (!String.IsNullOrEmpty(Model.Developer))
        {
            <div>Developer: @Model.Developer</div>
        }

        @if (!String.IsNullOrEmpty(Model.Overview))
        {
            <h6>Synopsis:</h6>
            <div class="synopsis" id="scrollbar1">
                <div class="scrollbar" style="height: 225px;">
                    <div class="track" style="height: 225px;">
                        <div class="thumb" style="top: 0px; height: 39.3701px;">
                            <div class="end"></div>
                        </div>
                    </div>
                </div>
                <div class="viewport viewport1">
                    <div class="overview overview1" id="detailsview">
                        @Html.Raw(@Model.Overview)
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="col-xs-3 pull-right" style="border-right: 1px solid #DDD; padding-top: 10px; min-height: 370px">
        <img alt="" src="" id="gameImageSrc" style="height: 300px; width: 200px;" class="img-polaroid" />
        <ul class="nav nav-pills" style="margin-top: 5px; margin-bottom: 5px;">
            @foreach (var gameSystem in Model.AvailableGameSystems)
            {
                <li class="gameSystemListItem"><a class="game-details-systems" href="#" data-url="@Model.ImageLinks[gameSystem]">@gameSystem</a></li>
            }
        </ul>
    </div>
</div>
<div class="row"></div>
<div class="col-xs-12">
    <div class="NewsItem">
        <div class="NewsItemText pull-right">
            @if (Model.GamesDbNetId > 0)
            {
                @:Source: <a href="@link" target="_blank">ThegamesDB.net</a>
            }
        </div>
    </div>
</div>

<div class="row"></div>
<div class="col-xs-12" style="min-height: 150px">
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Metrics</a></li>
            <li><a href="#tabs-2">Articles</a></li>
        </ul>
        <div id="tabs-1">
            @Html.Action("GetLineChart", "Charts", new { gameTitle = Model.Game.GameTitle })
            <div class="row"></div>
            @Html.Action("GetPieChart", "Charts", new { gameTitle = Model.Game.GameTitle })
        </div>
        <div id="tabs-2">
            <div id="articlesContainer"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#tabs").tabs();

        var scrollBar = $('#scrollbar1');

        if (scrollBar.length > 0) {
            scrollBar.tinyscrollbar();

            var details = document.getElementById('detailsview');
            var height = details.scrollHeight;

            if (height <= 225) {
                $('.scrollbar').hide();
            }
        }

        $('a.game-details-systems').on('click', function () {
            $(".gameSystemListItem").removeClass("active");
            var $url = $(this).data('url');
            $(this).closest("li").addClass("active");
            $('#gameImageSrc').attr("src", $url);
        });

        $('a.game-details-systems:first').click();

        $.get('/Home/GetGameArticleContainer',
            { GameTitle: "@Model.Game.GameTitle" }).done(function(data) {
            $("#articlesContainer").html(data);
        });
    });
</script>