@using System
@using VideoGameHash.Helpers;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - VideoGameHash</title>
    <link href="~/content/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/bootstrap/base")
    @Styles.Render("~/Content/bootstrap/theme")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/base")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
    <!--[if gte IE 9]>
            <style type="text/css">
                .gradient {
                filter: none;
                }
            </style>
        <![endif]-->
</head>
<body>
    <div id="canvas">
        <header id="vgh_master_header">
        <div class="navbar navbar-default navbar-fixed-top navbar-inverse no-min-height">
            <div id="master_header" class="container container-static">
                <div class="navbar-header">
                        <span class="site-title">
                            <a href="@Url.Action("Index", "Home")"><img src="~/content/images/logo.png" alt="" /></a> 
                        </span>
                </div>
                <nav class="navbar-collapse collapse">
                    <ul class="span-home-ico info-ico nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" role="button" class="dropdown-toggle no-padding" data-toggle="dropdown"><span class="glyphicon glyphicon-chevron-down glyphicon-white"
                                style="margin-top: 15px"></span></a>
                            <ul class="custom-popover dropdown-menu pull-right" role="menu">
                                <li>@Html.ActionLink("About", "About", "Home", routeValues: null, htmlAttributes: new { @tabindex = "-1", @role = "menuitem", @class = "white" })</li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home", routeValues: null, htmlAttributes: new { @tabindex = "-1", @role = "menuitem", @class = "white" })</li>
                            </ul>
                        </li>
                    </ul>
                    <span class="col-xs-4 pull-right">
                        @if (Request.IsAuthenticated)
                        {
                            @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })
                        }
                    </span>
                </nav>
            </div>
        </div>
        <div id="vgh_nav" class="navbar navbar-default navbar-fixed-top navbar-inverse">
            <div class="container container-static square-border">
                <div class="navbar-header">
                        <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                </div>

            </div>
        </div>
    </header>
    
   
        <div class="container container-static">
            @RenderBody()
        </div>
        <footer>
            <div class="navbar navbar-static-top">
                    <div class="container container-static">
                        <div class="pull-left">
                            <p>
                                &copy; @DateTime.Now.Year - VideoGameHash</p>
                        </div>
                    </div>
            </div>
        </footer>
    </div>

    </body>
</html>
