@using VideoGameHash.Helpers;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - VideoGameHash</title>
    <link href="~/content/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/bootstrap/base")
    @Styles.Render("~/Content/bootstrap/theme")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")

    <!--[if gte IE 9]>
            <style type="text/css">
                .gradient {
                filter: none;
                }
            </style>
        <![endif]-->
</head>
<body>
    <div id="canvas">
        <header id="vgh_master_header">
        <div class="navbar navbar-default navbar-fixed-top navbar-inverse no-min-height">
            <div id="master_header" class="container container-static">
                <div class="navbar-header">
                        <span class="site-title">
                            <a href="@Url.Action("Index", "Home")"><img src="~/content/images/logo.png" alt="" /></a> 
                        </span>
                </div>
                <nav class="navbar-collapse collapse">
                    <ul class="span-home-ico info-ico nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" role="button" class="dropdown-toggle no-padding" data-toggle="dropdown"><span class="glyphicon glyphicon-chevron-down glyphicon-white"
                                style="margin-top: 15px"></span></a>
                            <ul class="custom-popover dropdown-menu pull-right" role="menu">
                                <li>@Html.ActionLink("About", "About", "Home", routeValues: null, htmlAttributes: new { @tabindex = "-1", @role = "menuitem", @class = "white" })</li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home", routeValues: null, htmlAttributes: new { @tabindex = "-1", @role = "menuitem", @class = "white" })</li>
                            </ul>
                        </li>
                    </ul>
                    <span class="col-xs-4 pull-right">
                        @if (Request.IsAuthenticated)
                        {
                            @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })
                        }
                    </span>
                </nav>
            </div>
        </div>
        <div id="vgh_nav" class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container container-static square-border">
            <div class="navbar-header">
                    <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
</div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @foreach (var infoType in NewsHelper.SectionList)
                    {
                        if (NewsHelper.UseGameSystem(infoType))
                        {
                        <li class="dropdown"><a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">@infoType
                            <b class="caret"></b></a>
                            <ul class="custom-popover dropdown-menu" role="menu">
                                @foreach (var gameSystem in NewsHelper.GameSystemList(NewsHelper.SectionId(infoType)))
                                {
                                    <li>@Html.ActionLink(@gameSystem, "ViewArticlesN", "Home", new { Section = NewsHelper.SectionId(infoType), GameSystem = NewsHelper.GameSystemId(@gameSystem) }, new { @role = "menuitem", @tabindex = "-1", @class = "white" })</li>
                                }
                            </ul>
                        </li>
                        }
                        else
                        {
                        <li>@Html.ActionLink(infoType, "ViewArticlesN", "Home", new { Section = NewsHelper.SectionId(infoType), GameSystem = NewsHelper.GameSystemId("All") }, new { @class = "white" })</li>
                        }
                    }
                    <li>@Html.ActionLink("Game Database", "GameDatabase", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    </header>
    
    
        <div id="vgh_scroll_nav">
        <div class="container container-static">
            <div class="navbar">
                <ul class="nav navbar-nav">
                    @foreach (var infoType in NewsHelper.SectionList)
                    {
                        if (NewsHelper.UseGameSystem(infoType))
                        {
                        <li class="dropdown"><a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">@infoType
                            <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu">
                                @foreach (var gameSystem in NewsHelper.GameSystemList(NewsHelper.SectionId(infoType)))
                                {
                                    <li>@Html.ActionLink(@gameSystem, "ViewArticlesN", "Home", new { Section = NewsHelper.SectionId(infoType), GameSystem = NewsHelper.GameSystemId(@gameSystem) }, new { @role = "menuitem", @tabindex = "-1" })</li>
                                }
                            </ul>
                        </li>
                        }
                        else
                        {
                        <li>@Html.ActionLink(infoType, "ViewArticlesN", "Home", new { Section = NewsHelper.SectionId(infoType), GameSystem = NewsHelper.GameSystemId("All") }, null)</li>
                        }
                    }
                    <li>@Html.ActionLink("Game Database", "GameDatabase", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
        <div class="container container-static">
            @RenderBody()
        </div>
        <footer>
            <div class="navbar navbar-static-top">
                    <div class="container container-static">
                        <div class="pull-left">
                            <p>
                                &copy; 2012 - @DateTime.Now.Year - VideoGameHash</p>
                        </div>
                    </div>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/base")
    @RenderSection("scripts", required: false)
    </body>
</html>
