@model VideoGameHash.Models.AddInfoModel

@{
    ViewBag.Title = Model.InfoType;
}

<h2>@Model.InfoType</h2>

@using (Html.BeginForm(Model.InfoType, "Info"))
{
    @Html.ValidationSummary(true)

    <fieldset>
    <legend>Add Source</legend>
    <div class="editor-label">
            @Html.LabelFor(m => m.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => Model.Name)
            @Html.ValidationMessageFor(m => m.Name)
        </div>
        <p>
            <input type="submit" class="btn" value="Add" />
        </p>
    </fieldset>
}