@model VideoGameHash.Models.EditPollModel

@{
    ViewBag.Title = "Edit Poll";
}

<h2>Edit Poll</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(x => x.Id)
    <fieldset>
        <legend>Add Poll</legend>
        <div class="editor-label">
            @Html.LabelFor(m => m.Title)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => Model.Title)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Answers)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(m => Model.Answers)
        </div>
        <p>
            <input type="submit" class="btn" value="Save" />
        </p>
    </fieldset>
}
